.row
	display flex
	flex-wrap wrap

.grid
	display flex
	flex-wrap wrap

.column
	flex-direction column

.justifyContent-center
	justify-content center

.justifyContent-between
	justify-content space-between

.justifyContent-fEnd
	justify-content flex-end

.alignItems-center
	align-items center

.alignItems-fEnd
	align-items flex-end

.padBot-1
	padding-bottom 1em

.padBot-2
	padding-bottom 2em

.info-column
	padding 3em 0

.info-link-column
	padding 2em 0

.info-header
	padding-bottom 0.5em
	border-bottom 1px solid white

.info
	a
		font-family Roboto
		color white
		font-size 1.2em
		padding-bottom 5px
		border-bottom 2px solid transparent
		
	a:hover
		border-color white
		transition .4s cubic-bezier(0,0,0,1) border-color

.header-container
	position absolute
	z-index 10
	padding 90px 9rem 10px 9rem 
	width 100%
	box-sizing border-box

	@media $break-767
		padding 2rem 3rem 0 2rem
	
	h1 
		padding-bottom 0em

.bg-content-container
	position relative
	z-index 10
	top 20%
	padding 6rem 9rem 0 9rem

	@media $break-767
		padding 2rem 3rem 0 2rem 

		h1
			font-size 1.7em

	.grid:not(:last-child)
		padding-bottom 30px
		
.content-container
	padding 200px 0 0 0

.content-column
	padding 3em 0 3em 0

.content-column.bio
	padding-top 200px

.intro-container
	// width 50%

	a
		color white
		padding-bottom 5px
		border-bottom 5px solid white
		
	a:hover
		border-color #38ea92
		transition .4s cubic-bezier(.19,1,.22,1) border-color

	@media $break-767
		width 100%

.bold
	h1
		font-weight 700
		padding-bottom 0em
		text-shadow 2px 2px 30px rgba(128,128,128,0.5)

.bg-full-wh
	position absolute
	top 0
	bottom 0
	left 0
	right 0
	background-position center center
	background-repeat no-repeat
	background-color transparent 
	background-size cover
	backface-visibility hidden

.bg-image
	margin 0
	display block
	position relative
	width 100%
	height 90vh
	top 0
	bottom 0
	left 0
	right 0
	background-position center center
	background-repeat no-repeat
	background-attachment fixed
	background-size cover
	filter grayscale(0.5)

.logotype
	font-weight 700
	font-size 1.8em

	@media $break-767
		font-size 1.6em

.logo-link
	color #222
	border-bottom 1px solid transparent

	&:hover
		border-color #fff
		transition .4s cubic-bezier(.19,1,.22,1) border-color
	
	h1, h4
		padding unset
		
.nav-links
	height 24px
	// width 40%

.icon-container
	a:not(:last-child)
		padding-right 20px
		
	a
		h3, h4
			color #fff
			border-bottom:1px solid transparent;
	
	a
		h3:hover, h4:hover
			color lightgray
			border-bottom:1px solid gray;
			transition all .4s cubic-bezier(.19,1,.22,1) 



.icon
	width 30px
	height 30px

	@media $break-767
		width 24px
		height 24px

.footer-container
	padding 0 9rem 0 9rem
	height 100%

	@media $break-767
		padding 1em 2em 1em 2em
		flex-direction column

		>div:not(:last-child)
			padding-bottom 1em

.underline
	text-decoration underline
	
main.content-container
	background-color #111
	height calc(90vh - 200px)