// .container
// 	width 100%
// 	position absolute
// 	z-index 10
	
.row
	display flex
	flex-wrap wrap

.grid
	display flex
	flex-wrap wrap

.column
	flex-direction column

.justifyContent-center
	justify-content center

.justifyContent-between
	justify-content space-between

.justifyContent-fEnd
	justify-content flex-end

.alignItems-center
	align-items center

.alignItems-fEnd
	align-items flex-end

.header-container
	position absolute
	z-index 10
	padding 6rem 9rem 1rem 9rem 

	@media $break-767
		padding 2rem 3rem 0 2rem
	
	h1 
		padding-bottom 0em

.content-container
	position relative
	z-index 10
	top 20%
	padding 6rem 9rem 0 9rem

	@media $break-767
		padding 2rem 3rem 0 2rem 

		h1
			font-size 1.7em

	.grid:not(:last-child)
		padding-bottom 30px

.intro-container
	width 50%

	@media $break-767
		width 100%

.bold
	h1
		font-weight 700
		padding-bottom 0em

.bg-full-wh
	position absolute
	top 0
	bottom 0
	left 0
	right 0
	background-position center center
	background-repeat no-repeat
	background-color transparent 
	background-size cover
	backface-visibility hidden

.bg-image
	margin 0
	display block
	position relative
	width 100%
	height 100vh
	top 0
	bottom 0
	left 0
	right 0
	background-position center center
	background-repeat no-repeat
	background-attachment fixed
	background-size cover
	filter grayscale(0.5)

.logotype
	font-weight 700
	font-size 1.8em

	@media $break-767
		font-size 1.6em

.logo-link
	color #222

.icon-container
	a:not(:last-child)
		padding-right 20px

.icon
	width 30px
	height 30px

	@media $break-767
		width 24px
		height 24px

.footer-container
	padding 0 9rem 0 9rem
	height 100%

	@media $break-767
		padding 1em 2em 1em 2em
		flex-direction column

		>div:not(:last-child)
			padding-bottom 1em

.underline
	text-decoration underline