// .container
// 	width 100%
// 	position absolute
// 	z-index 10

header
	z-index 1
	position relative
	
.row
	display flex
	flex-wrap wrap

.grid
	display flex
	flex-wrap wrap

.column
	flex-direction column

.justifyContent-center
	justify-content center

.justifyContent-between
	justify-content space-between

.justifyContent-fEnd
	justify-content flex-end

.alignItems-center
	align-items center

.alignItems-fEnd
	align-items flex-end

.header-container
	padding 6rem 9rem 1rem 9rem 

	@media $break-767
		padding 2rem 3rem 0 2rem
	
	h1 
		padding-bottom 0em

.content-container
	position relative
	padding 6rem 9rem 0 9rem

	@media $break-767
		padding 2rem 3rem 0 2rem 

		h1
			font-size 1.8em

	.grid:not(:last-child)
		padding-bottom 30px

.intro-container
	width 50%

.bold
	h1
		font-weight 700
		padding-bottom 0em

body
	margin 0

.bg-image
	position absolute
	top 0
	left 0
	right 0
	bottom 0
	z-index 0
	width 100vw
	height 100vh
	filter grayscale(0.5)

.logotype
	font-weight 700
	font-size 1.8em

.logo-link
	color #222

.icon-container
	a:not(:last-child)
		padding-right 20px

.icon
	width 30px
	height 30px

.footer-container
	padding 0 9rem 0 9rem
	height 100%

	@media $break-767
		padding 0 2em 0 2em
		flex-direction column
	
// header
// 	position absolute
// 	z-index 10

footer
	position absolute
	z-index 10
	background-color #333
	bottom:0
	width 100%
	height 11vh

	@media $break-767
		height 40%

	h2, h3, i
		padding unset
		color white

	h2
		font-size 1.4em

	.material-icons
		padding-left 10px
		padding-right 10px

	.justifyContent-between
		justify-content space-around


.underline
	text-decoration underline