body
	margin 0

footer
	position absolute
	bottom 0
	background-color #333
	width 100%
	height 10vh

	h2, h3, i
		padding unset
		color white

	@media $break-767
		position relative
		height 100%

		h3,h2
			font-size 1em

	.material-icons
		padding-left 10px
		padding-right 10px

	.justifyContent-between
		justify-content space-around